main {
    width: 1000px;
    margin: auto;
}
.row {
    display: inline-block;
}
.prodotto {
    background-color: white;
    display:inline-block;
    position:relative;
}
.foto { 
    width: 320px;
    height: 462px;
}
.cuore {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 4px;
}
.sconto {
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 70px;
    padding: 4px;
}
.sostenibile {
    background-color: green;
    color: white;
    padding: 4px;
    position: absolute;
    left: 50px;
    bottom: 70px;
}
.sostenibile.no-sconto {
    position: absolute;
    left: 0px;
    bottom: 70px;
}
.marca {
    font-size: 14px;
}
.descrizione {

}
.prezzo {
    color: red;
    display: inline-block;
}
.prezzo-iniziale {
    text-decoration: line-through;
    display: inline-block;
}