* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
main {
    width: 1000px;
    margin: auto;
}
.row {
    display: inline-block;
    margin-top: 50px;
}
.prodotto {
    background-color: white;
    display:inline-block;
    position:relative;
}
.foto { 
    width: 320px;
    height: 462px;
}
.fotoseconda {
    width: 320px;
    height: 462px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}
.prodotto:hover .fotoseconda {
    display: inline;
    object-fit: contain;
}
.cuore {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    padding: 4px;
    transform: scale(1.5);
    z-index: 501;
}
.sconto {
    background-color: red;
    color: white;
    position: absolute;
    left: 0;
    bottom: 70px;
    padding: 4px;
    z-index: 501;
}
.sostenibile {
    background-color: green;
    color: white;
    padding: 4px;
    position: absolute;
    left: 50px;
    bottom: 70px;
    z-index: 501;
}
.sostenibile.no-sconto {
    position: absolute;
    left: 0px;
    bottom: 70px;
}
.marca {
    font-size: 14px;
}
.descrizione {

}
.prezzo {
    color: red;
    display: inline-block;
}
.prezzo-iniziale {
    text-decoration: line-through;
    display: inline-block;
}